# Project level binaries
rental-property-api
w3-a4

# Beego build files
tmp/

# Go binaries
*.exe
*.out
*.test

# Build output
bin/
build/

# Dependency vendor folder (optional)
vendor/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.txt
*.pdf
plan

# Environment files
.env
